@import url(https://fonts.googleapis.com/css?family=Spectral+SC:400);

.login-page {
    width: 400px;
    padding: 5% 0 0;
    margin: auto;
}

.logo{
    padding: 15px;
}
.form {
    border-radius: 10px;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 80px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#sub{
    border-radius: 8px;
    font-family: "Spectral", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #9CB03D;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}

#sub:hover,#sub:active,.#sub:focus {
    border-radius: 8px;
    background: #899938;
}

.form input {
    border-radius: 8px;
    font-family: "Spectral", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 18px;
}
.form button {
    border-radius: 8px;
    font-family: "Spectral", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #9CB03D;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
    border-radius: 8px;
    background: #899938;
}
.form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
}
.form .message a {
    color: #4CAF50;
    text-decoration: none;
}
.form .register-form {
    display: none;
}

.form select{
    border-radius: 8px;
    font-family: "Spectral", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 18px;
    height: 50px;
}
.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}
.container:before, .container:after {
    content: "";
    display: block;
    clear: both;
}
.container .info {
    margin: 50px auto;
    text-align: center;
}
.container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
}
.container .info span {
    color: #4d4d4d;
    font-size: 12px;
}
.container .info span a {
    color: #000000;
    text-decoration: none;
}
.container .info span .fa {
    color: #EF3B3A;
}
body {
    background: #8F9057;
    background: -webkit-linear-gradient(right, #8F9057, #8F9057);
    background: -moz-linear-gradient(right, #8F9057, #8F9057);
    background: -o-linear-gradient(right, #8F9057, #8F9057);
    background: linear-gradient(to left, #8F9057, #8F9057);
    font-family: "Spectral", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}